<html>
<head>
    <meta charset="utf-8">
    <title>Мои рисунки</title>
    <!--<style>
        video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%)   translateY(-50%);
            background: url('http://192.168.1.69:8080/jcg/mini.jpg') no-repeat;
            background-size: cover;
            transition: 1s opacity;
        }
    </style>-->
</head>
<body>
<video width = "100%"  autoplay poster="http://192.168.1.69:8080/jcg/mini.jpg" loop>
    <source src="http://192.168.1.69:8080/jcg/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

<!--<video autoplay width="100%" height="100%" preload="auto" controls="controls" poster="http://192.168.1.69:8080/jcg/mini.jpg" loop>
    <video autoplay  poster="http://192.168.1.69:8080/jcg/mini.jpg" id="bgvid" loop>
        <source src="http://192.168.1.69:8080/jcg/video.mp4" type="video/mp4">
    </video>-->
    <!-- <source src="http://localhost:8080/jcg/video.mp4" type="video/mp4">
    </video>

    <iframe width="530" height="350" src="https://www.youtube.com/embed/J-gmtGQvYwY" frameborder="0" allowfullscreen></iframe>-->
</body>
</html>